<%- include('templates/header'); -%>

    <!--Main Content Container-->
    <div class="container">
        <div class="col-sm-12">
            <article class="text-center main-content">
                <h1 class="main-content-title display-4">Available Courses to Classnotes Subscribers</h1>
            </article>    
        </div>
    </div>

    <!--Course Containers-->
    <div class="container">
        <div class="media">
            <img src="../../public/images/courses/MULogosmall.jpg" class="align-self-center mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0">University of Melbourne</h5>
              <h6>Available Courses:</h6>
              <ul class="mb-0">
                  <li>Arts</li>
                  <li>Commerce</li>
                  <li>Juris Doctor</li>
                  <li>Sciences</li>
              </ul>
            </div>
          </div>
          <br>
          <br>
          <div class="media">
            <img src="../../public/images/courses/MonLogosmall.png" class="align-self-center mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Monash University</h5>
                <h6>Available Courses:</h6>
                <ul class="mb-0">
                    <li>Arts</li>
                    <li>Commerce</li>
                    <li>Engineering</li>
                    <li>Law</li>
                    <li>Sciences</li>
                </ul>
            </div>
          </div>
          <br>
          <br>
          <div class="media">
            <img src="../../public/images/courses/HolmLogosmall.jpg" class="align-self-center mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Holmesglen Institute</h5>
                <h6>Available Courses:</h6>
                <ul class="mb-0">
                    <li>Arts and Design</li>
                    <li>Hospitality</li>
                    <li>Web Development</li>
                </ul>
            </div>
          </div>
    </div>
    <br>
    <br>
    
    <%- include('templates/trending'); -%>

    <%- include('templates/footer'); -%>



