    <!-- Trending container  -->
    <!-- Optional: Change to modal system to allow for review stars-->
    <!-- Known issue: Scaling on caption-text breaks on small browser sizes-->
    <div class="container">
        <div class="trending-grid">
            <div class="col-sm-12">
                <article class="trending">
                    <h4>Top Downloads:</h4>
                </article>  
                <div class="pixgrid clearfix">
                    <div class="row">
                        <figure class="figure col-2">
                            <img src="./images/trending/arts_tn.png" class="figure-img img-fluid rounded" alt="Notes 1">
                            <figcaption class="figure-caption d-inline-block text-truncate" style="max-width: 150px;">(MON)ARTS: Global Politics</figcaption>
                        </figure>
                        <figure class="figure col-2">
                            <img src="./images/trending/commerce_tn.png" class="figure-img img-fluid rounded" alt="Notes 2">
                            <figcaption class="figure-caption d-inline-block text-truncate" style="max-width: 150px;">(UM)COMM: Business Finance</figcaption>
                        </figure>
                        <figure class="figure col-2">
                            <img src="./images/trending/computersciences_tn.png" class="figure-img img-fluid rounded" alt="Notes 3">
                            <figcaption class="figure-caption d-inline-block text-truncate" style="max-width: 150px;">(HOM)IT: Front-End 1</figcaption>
                        </figure>
                        <figure class="figure col-2">
                            <img src="./images/trending/engineering_tn.png" class="figure-img img-fluid rounded" alt="Notes 4">
                            <figcaption class="figure-caption d-inline-block text-truncate" style="max-width: 150px;">(UM)ENGI: Engineering Mathematics</figcaption>
                        </figure>
                        <figure class="figure col-2">
                            <img src="./images/trending/law_tn.png" class="figure-img img-fluid rounded" alt="Notes 5">
                            <figcaption class="figure-caption d-inline-block text-truncate" style="max-width: 150px;">(MON)LAW: Torts Law</figcaption>
                        </figure>
                        <figure class="figure col-2">
                            <img src="./images/trending/sciences_tn.png" class="figure-img img-fluid rounded" alt="Notes 6">
                            <figcaption class="figure-caption d-inline-block text-truncate" style="max-width: 150px;">(UM)SCI: Biotechnology</figcaption>
                        </figure>
                    </div>
                </div>  
            </div>
        </div>
    </div>